---
layout: 	default-gesperj
title:     "Inicial do Sistema de RJ"
subtitle:  "Sistema Integrado de Gestão e Compras"
---


<h3 class="page-title">Página Inicial</h3>

  <div class="banner-principal">
    <div><img src="http://placehold.it/1042x400"></div>
    <div><img src="http://placehold.it/1042x400/ddd/aaa"></div>
    <div>your content</div>
  </div>




  <div class="container-md-height m-b-20">
<div class="row row-md-height">
<div class="col-lg-7 col-md-6 col-md-height col-middle bg-white">
 
<div class="full-height">
<div class="panel-body text-center">
<img class="image-responsive-height demo-mw-350" src="assets/img/demo/colors_hero.gif" alt="">
</div>
</div>
 
</div>
<div class="col-lg-5 col-md-height col-md-6 col-top">
 
<div class="panel panel-transparent">
<div class="panel-heading">
<div class="panel-title">Getting started
</div>
</div>
<div class="panel-body">
<h3>Paint it the way you Like it.</h3>
<p>Color is a wonderful tool for making your dashboard more interesting with a significant positive impact on your mood. </p>
<br>
<div>
<div class="profile-img-wrapper m-t-5 inline">
<img width="35" height="35" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
<div class="chat-status available">
</div>
</div>
<div class="inline m-l-10">
<p class="small hint-text m-t-5">VIA senior product manage
<br>for UI/UX at REVOX</p>
</div>
</div>
</div>
</div>
 
</div>
</div>
</div>
		