---
layout: 	default-gesperj
title:     "Inicial do Sistema de RJ"
subtitle:  "Sistema Integrado de Gestão e Compras"
---
<h3 class="page-title">Portal Gesperj</h3>
<div class="container-md-height m-b-20">
	<div class="row row-md-height">
		<div class="col-lg-7 col-md-6 col-md-height col-middle">
			
			<div class="full-height">
			<div class="panel-heading">
				DESTAQUES
			</div>	
				<div class="panel-body">
					<div class="banner-principal" >
						<div>
							<img src="{{ relative }}/assets/img/banner/banner1.jpg" class="img-responsive">
							<div class="noticias-banner">
								<div class="noticias-banner-secao">Rede GRH</div>
								<h3 class="noticias-banner-titulo">Caderno de RH de julho já está disponível na internet </h3>
								<p class="noticias-banner-texto">Documento foi elaborado pela Subsecretaria de Gestão de Pessoas da Seplag e tem 77 páginas contendo diversas tabelas e gráficos, com o objetivo de disponibilizar informações estratégicas da área de Recursos Humanos do Estado.
								</p>
							</div>
						</div>
						<div>
							<img src="{{ relative }}/assets/img/banner/banner2.jpg" class="img-responsive">
							<div class="noticias-banner-secao">Órgãos Setoriais</div>
							<h3 class="noticias-banner-titulo">Campanha do Agasalho 2016 encerra com 1.779 doações</h3>
							<p class="noticias-banner-texto"> Objetivo da campanha é promover a cultura de responsabilidade social junto aos servidores do Estado do Rio de Janeiro. Essa é a segunda edição da Campanha do Agasalho, que em 2015 arrecadou 1.650 peças.
							</p>
						</div>							
					</div>
				</div>

			</div>
			


<!-- tabs -->
<div class="panel">
	<div class="panel-heading">
				MAPA DOS SETORIAIS
			</div>	
<ul class="nav nav-tabs nav-tabs-linetriangle hidden-sm hidden-xs" data-init-reponsive-tabs="dropdownfx">
    <li class="active">
      <a data-toggle="tab" href="#tab2hellowWorld">Estrutura do Órgão</a>
    </li>
    <li>
      <a data-toggle="tab" href="#tab2FollowUs">Hello Two</a>
    </li>
    <li>
      <a data-toggle="tab" href="#tab2Inspire">Hello Three</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active slide-left" id="tab2hellowWorld">
      <div class="row column-seperation">
        <div class="col-md-12">
          <h3>
            <span class="semi-bold">Sometimes</span> Small things in life means
            the most
          </h3>
        </div>
      </div>
    </div>
    <div class="tab-pane slide-left" id="tab2FollowUs">
      <div class="row">
        <div class="col-md-12">
          <h3>
            “ Nothing is <span class="semi-bold">impossible</span>, the word
            itself says 'I'm <span class="semi-bold">possible</span>'! ”
          </h3>
          <p>
            A style represents visual customizations on top of a layout. By
            editing a style, you can use Squarespace's visual interface to
            customize your...
          </p><br>

          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane slide-left" id="tab2Inspire">
      <div class="row">
        <div class="col-md-12">
          <h3>
            Follow us &amp; get updated!
          </h3>
          <p>
       
          </p><br>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end: tabs -->


		</div>
		<div class="col-lg-5 col-md-height col-md-6 col-top">
			
			<div class="panel panel-transparent">
				<div class="panel-heading">
					<div class="panel-title">Órgãos Setoriais
					</div>
				</div>
				<div class="panel-body">
					<h3>PRODERJ Contracheque 2016 – Tabela e Informações</h3>
					<p>O Governo do Estado do Rio de Janeiro, através da Secretaria de Planejamento e Gestão – Seplag, já divulgou a folha de pagamento para 2016 para todos os servidores e militares ativos e inativos da Administração Direta e Indireta, dos empregados das empresas públicas e sociedades de economia mista sob o controle do Estado.</p>	
				</div>
			</div>

			<div class="panel panel-transparent">
				<div class="panel-heading">
					<div class="panel-title">Imprensa
					</div>
				</div>
				<div class="panel-body">
					<h3>Campanha do Agasalho 2016 encerra com 1.779 doações</h3>
					<p> Objetivo da campanha é promover a cultura de responsabilidade social junto aos servidores do Estado do Rio de Janeiro. Essa é a segunda edição da Campanha do Agasalho, que em 2015 arrecadou 1.650 peças.</p>	
				</div>
			</div>

		<div class="panel panel-transparent">
				<div class="panel-heading">
					<div class="panel-title">Instituições
					</div>
				</div>
				<div class="panel-body">			
					<div class="carrocel-logos">
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					  <div><img src="http://placehold.it/140x96" alt=""></div>
					</div>
				</div>
			</div>





		

			
		</div>
	</div>
</div>