
<!-- BEGIN VENDOR JS -->
<script src="{{ relative }}assets/plugins/pace/pace.min.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/modernizr.custom.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/bootstrapv3/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/jquery-bez/jquery.bez.min.js"></script>
<script src="{{ relative }}assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
<script src="{{ relative }}assets/plugins/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="{{ relative }}assets/plugins/jquery-actual/jquery.actual.min.js"></script>
<script src="{{ relative }}assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN CORE TEMPLATE JS -->
<script src="{{ relative }}pages/js/pages.js" type="text/javascript"></script>
<!-- END CORE TEMPLATE JS -->
<!-- BEGIN PAGE LEVEL JS -->
<script src="{{ relative }}assets/js/scripts.js" type="text/javascript"></script>
<!-- END PAGE LEVEL JS -->