<div class="container-fluid container-fixed-lg footer">
    <div class="copyright sm-text-center">
        <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; 2016 </span>
            <span class="font-montserrat">Governo Estado Rio Janeiro</span>.
            <span class="hint-text">Todos os Direitos Reservados</span>
       
        </p>
        <p class="small no-margin pull-right sm-pull-reset">
            <a href="http://www.servidor.rj.gov.br/portal-web/index" target="_blank">SEPLAG-RJ</a> <span class="hint-text"> </span>
        </p>
        <div class="clearfix"></div>
    </div>
</div>