
<!DOCTYPE html>
<html>

{% include head.html %}

<body class="fixed-header horizontal-menu menu-behind">


{% include sidebar.html %}



<div class="page-container ">

    <div class="header ">

        <div class="container-fluid relative">

            <div class="pull-left full-height visible-sm visible-xs">

                <div class="header-inner">
                    <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                        <span class="icon-set menu-hambuger"></span>
                    </a>
                </div>

            </div>
            <div class="pull-center hidden-md hidden-lg">
                <div class="header-inner">
                    <div class="brand inline">
                        <img src="{{ relative }}/assets/img/logo.png" alt="logo" data-src="{{ relative }}/assets/img/logo.png" data-src-retina="{{ relative }}/assets/img/logo_2x.png" width="200" height="53">
                    </div>
                </div>
            </div>

            <div class="pull-right full-height visible-sm visible-xs">

                <div class="header-inner">
                    <a href="#" class="btn-link visible-xs-inline-block visible-sm-inline-block m-r-10" data-pages="horizontal-menu-toggle">
                        <span class="pg pg-arrow_minimize"></span>
                    </a>
                    <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                        <span class="icon-set menu-hambuger-plus"></span>
                    </a>
                </div>

            </div>
        </div>

        <div class=" pull-left sm-table hidden-xs hidden-sm">
            <div class="header-inner">
                <div class="brand inline">
                    <img src="{{ relative }}assets/img/logo.png" alt="logo" data-src="{{ relative }}assets/img/logo.png" data-src-retina="{{ relative }}assets/img/logo_2x.png" width="162" height="auto">
                </div>

                <a href="#" class="search-link" data-toggle="search"><i class="pg-search"></i>Digite para fazer sua <span class="bold">procura</span></a> </div>
        </div>
        <div class=" pull-right">
            <div class="header-inner">
                <a href="#" class="btn-link icon-set menu-hambuger-plus m-l-20 sm-no-margin hidden-sm hidden-xs" data-toggle="quickview" data-toggle-element="#quickview"></a>
            </div>
        </div>
        <div class=" pull-right">

            <div class="visible-lg visible-md m-t-10">
                <div class="pull-left p-r-10 p-t-10 fs-16 font-heading">
                    <span class="semi-bold">Marcus</span> <span class="text-master">Cunha</span>
                </div>
                <div class="dropdown pull-right">
                    <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="thumbnail-wrapper d32 circular inline m-t-5">
<img src="{{ relative }}assets/img/profiles/avatar.jpg" alt="" data-src="{{ relative }}assets/img/profiles/avatar.jpg" data-src-retina="{{ relative }}assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
</span>
                    </button>
                    <ul class="dropdown-menu profile-dropdown" role="menu">
                        <li><a href="#"><i class="pg-settings_small"></i> Settings</a>
                        </li>
                        <li><a href="#"><i class="pg-outdent"></i> Feedback</a>
                        </li>
                        <li><a href="#"><i class="pg-signals"></i> Help</a>
                        </li>
                        <li class="bg-master-lighter">
                            <a href="#" class="clearfix">
                                <span class="pull-left">Logout</span>
                                <span class="pull-right"><i class="pg-power"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    <div class="page-content-wrapper ">

        <div class="content ">
            <div class="bar">
                <div class="pull-right">
                    <a href="#" class="text-black padding-10 visible-xs-inline visible-sm-inline pull-right m-t-10 m-b-10 m-r-10 on" data-pages="horizontal-menu-toggle">
                        <i class=" pg-close_line"></i>
                    </a>
                </div>
                <div class="bar-inner">
                    <ul>
                        <li class="classic">
                            <a href="javascript:;">
                             <span class="semi-bold">SUBGP/SEPLAG </span> <span class="arrow"></span>
                            </a>
                            <ul class="classic">
                                <li>
                                    <a href="#">Estrutura da SEPLAG </a>
                                </li>
                                <li>
                                    <a href="#">Organograma </a>
                                </li>
                                <li>
                                    <a href="#">Estrutura da SUBGP </a>
                                </li>   
                                <li>
                                    <a href="#">Regimento Interno / Competências
                                    <span class="description">
                                        Mapa da Subgp com os contatos da
                                        Subsecretaria
                                    </span>
                                    </a>
                                </li>                                                             
                                <li>
                                    <a href="#">Contatos das Superintendências  </a>
                                </li>
                            </ul>
                        </li>
                       <li>
                            <a href="#">Órgãos Setoriais </a>
                        </li>

                        <li class="classic">
                            <a href="javascript:;">
                             <span class="semi-bold"> LEGISLAÇÃO </span> <span class="arrow"></span>
                            </a>
                        </li>
                        <li class="classic">
                            <a href="javascript:;">
                             <span class="semi-bold"> REDE GRH </span> <span class="arrow"></span>
                            </a>
                        </li>                        


              
                    </ul>
                </div>
            </div>

            <div class="container-fluid container-fixed-lg">
                {% include breadcump.html %}

               {{ content }}


            </div>
            <div class="container-fluid container-fixed-lg">


            </div>
        </div>

        {% include footer.html %}

    </div>

</div>

{% include componentes/quickview.html %}

{% include componentes/overlay_search.html %}


{% include footer.codigos.html %}


</body>
</html>